@font-face {
    font-family: Inter;
    src: url('../font/InterFont.ttf');
}

@font-face{
    font-family: Signature;
    src: url('../font/GreatVibes.ttf');
}

@font-face {
    font-family: Blenda;
    src: url('../font/BlendaScript.otf');
}

html {
    scroll-behavior: smooth;
}

*{
    font-family: Inter;
}

.signature-font{
    font-family: Signature;
}

body{
    overflow-x: hidden;
    font-family: Inter;
}

.background-footer{
    background-color: #e3e3e3;
    box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.3);
}

.navbar-brand{
    font-size: 2rem !important;
}

.nav-item a, .navbar-socials {
    color: black;
    margin-right: 1rem;
}

.header-container{
    background-image: linear-gradient(to right bottom, rgba(30, 83, 49, 0.6), rgba(76, 154, 42, 0.6)), url("../img/image-background/image-background.jpg");
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.header-title, .header-text{
    color: white;
    text-shadow: 2px 2px 10px black;
    padding-left: 2rem;
}

.header-title h1{
    font-size: 6rem;
}

.header-text p{
    font-size: 1.2rem;
}

.title-presentation{
    font-family: Blenda;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.image-presentation{
    width: auto;
    max-width: 100%;
    padding: 2rem;
}

.page-indicator{
    padding: 1rem;
}

.page-title{
    padding-left: 2rem;
    padding-right: 2rem;
}

.caption-title{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.footer-links-text{
    padding-left: 1rem;
}

.card-title{
    padding-bottom: 1.5rem;
}


.background-gradient{
    background: linear-gradient(white, #74E39A);
}

.background-offres{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.background-contact{
    background-color: #01B636;
    padding-bottom: 3rem;
}

.image-slider{
    height: auto;
    width: auto;
}

.bold-text {
    font-weight: bold;
}

.italic-text{
    font-style: italic;
}

.indent{
    text-indent: 2rem;
}

.indent-paragraphs p {
    text-indent: 2rem;
}
.image-small{
    width: 50%;
    height: auto;
    float: right;
}

.box{
    background-color: #74E39A;
    padding: 2rem;
    border-radius: 0px 20px 20px;
    margin-bottom: 1rem;
}

.list{
    list-style: upper-roman inside;
}

.list-item {
    display: list-item;
}

.list-content{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.phone-background-onchologie{
    background-image: url("../img/image-sections/image-onchologie-1.jpg");
    height: 100vh;
}

.phone-header-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.phone-header-title, .phone-header-text {
    color: white;
    text-shadow: 2px 2px 10px black;
    padding-left: 2rem;
}

.phone-header-title{
    font-size: 4rem;
}

.phone-header-text{
    font-size: 1rem;
}

.phone-background-lacherprise{
    background-image: url('../img/image-offers/image-lacher-prise.jpg');
    height: 100vh;
}

.phone-header-container-centered {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone-background-marcheconsiente{
    background-image: url('../img/image-offers/image-marche-consiente-1.jpg');
    height: 100vh;
}

.phone-background-gestionemotions{
    background-image: url('../img/image-offers/image-gestion-emotion.jpg');
    height: 100vh;
}

.contact-container {
    background-image: linear-gradient(to right bottom, rgba(30, 83, 49, 0.6), rgba(76, 154, 42, 0.6)), url("../img/image-background/image-background.jpg");
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-header{
    text-align: center;
    color: white;
    padding: 2rem;
}

.contact-title{
    font-size: 5rem;
}

.contact-caption{
    font-size: 1rem;
}


.btn-contact{
    margin: 2rem;
}

.nav-link:hover, .navbar-socials:hover{
    color: #01B636;
}

.form-outline{
    border-color: white;
}

.form-outline:focus{
    border-color: #01B636;
}

.form-label{
    color: white;
}

.form-control{
    color: white;
}

.text-justify{
    text-align: justify;
}


@media only screen and (max-width: 982px) {
    .contact-container{
        height: auto;
        display: block;
    }
}